<!DOCTYPE html>

<head>
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Matt Kam</title>
  <%= stylesheet_link_tag    "application"%>
  <%= javascript_include_tag "application"%>
  <%= csrf_meta_tags %>
</head>
<body>

<%= yield %>

<div class="fixednav topright" id="rightside">
<a href="#uno" class="fixednav" id="one">HOME</a>
<a href="#dos" class="fixednav" id="two">ABOUT</a>
<a href="#tres" class="fixednav" id="three">SKILLS</a>
<a href="#quatro" class="fixednav" id="four">PROJECTS</a>
<a href="#cinco" class="fixednav" id="five">CONTACT</a>
</div>
</body>

